<div id="app-container">
  <div id="map-container"></div>

  <div id="toolbar">
    <h1>Geonotification</h1>

    <div id="areas-container">
      <form>
        <div id="areas">

        </div>
        <p>
           <input type="submit" value="Save" id="save-areas"/>
        </p>
      </form>
    </div>

  </div>

</div>